.button{
    height: max-content;
    width: max-content;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter"!important;
    gap: 0.5rem;
}
@media (max-width:375px) {
    .button{
        height: max-content;
        width: max-content;
        padding: 0.75rem 1.5rem;
    }
}
@media (min-width:375px) and (max-width:393px) {
    .button{
        height: max-content;
        width: max-content;
        padding: 0.75rem 1.5rem;
    }
}
@media (min-width:393px) and (max-width:475px) {
    .button{
        height: max-content;
        width: max-content;
        padding: 1rem 2rem;
    }
}